<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Code">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TwitterOAuth PHP Library for the Twitter REST API</title>
    <meta name="description" content="The most popular PHP library for use with the Twitter OAuth REST API">
    <meta name="author" content="Abraham Williams">
    <link rel="canonical" href="https://twitteroauth.com" />

    <meta name="theme-color" content="#e7e7e7">
    <link rel="icon" sizes="192x192" href="https://twitteroauth.com/images/twitter-logo-blue.png">

    <meta property="og:title" content="TwitterOAuth PHP Library for the Twitter REST API" />
    <meta property="og:image" content="https://twitteroauth.com/images/twitter-logo-blue.png" />
    <meta property="og:url" content="https://twitteroauth.com" />
    <meta property="og:description" content="The most popular PHP library for use with the Twitter OAuth REST API" />

    <meta itemprop="name" content="TwitterOAuth PHP Library">
    <meta itemprop="description" content="The most popular PHP library for use with the Twitter OAuth REST API">
    <meta itemprop="image" content="https://twitteroauth.com/images/twitter-logo-blue.png">
    <meta itemprop="codeRepository" content="https://github.com/abraham/twitteroauth">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@abraham" />
    <meta name="twitter:title" content="TwitterOAuth PHP Library for the Twitter REST API" />
    <meta name="twitter:description" content="The most popular PHP library for use with the Twitter OAuth REST API" />
    <meta name="twitter:image" content="https://twitteroauth.com/images/twitter-logo-blue.png" />
    <meta name="twitter:url" content="https://twitteroauth.com" />

    <link rel="icon" href="https://abrah.am/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TwitterOAuth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://dev.twitter.com/rest/public">Twitter API Docs</a></li>
            <li><a href="https://github.com/abraham/twitteroauth">Source</a></li>
            <li><a href="https://travis-ci.org/abraham/twitteroauth"><img src="https://img.shields.io/travis/abraham/twitteroauth.svg"></a></li>
            <li><a href="https://github.com/abraham/twitteroauth/issues"><img src="https://img.shields.io/github/issues/abraham/twitteroauth.svg"></a></li>
            <li><a href="https://heroku.com/deploy?template=https://github.com/abraham/twitteroauth-demo"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy to Heroku" height="19px"></a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/redirect.php"><img src="/images/sign-in-with-twitter-link.png" alt="Sign in with Twitter" title="Sign in with Twitter" /></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          Built by <a href="https://abrah.am">Abraham Williams</a> for use with the <a href="https://dev.twitter.com">Twitter API</a>. TwitterOAuth is not affiliated Twitter, Inc.
        </p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% if google_analytics_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ google_analytics_id }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
